

.App {
  text-align: center;
  font-family: Poppins, sans-serif;
  max-width:550px;
  margin: 30px auto;
  padding: 20px;
  background-color: rgb(139, 212, 243);
  border-radius: 10px;
  box-shadow: 2px 3px 2px 3px gray;

}
.header{
  font-size: 50px;
    padding:10px 5px;
}
input{
  margin:10px;
}

